

.btn-navigationbar {
    width: 150px; /* Adjust the width as needed */
}
.wide-column {
    min-width: 130px; /* Adjust width as needed */
}

.card {
    height: 350px; /* Adjust the height as needed */
    overflow: hidden;
    border-radius: 0.75rem; 
}
.card-img-top {
    height: 150px; /* Adjust the height as needed */
    object-fit: cover;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:nth-child(odd) {
    background-color: #f6f8f8;
}
.table-primary{
    text-transform: uppercase;
    font-weight: normal;

}